@page
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProductModel.IndexModel


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        Login User: @Model.UserEmail;
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ImageLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Product)
        {
            <tr>
                <td>
                    <img src=@item.ImageLink />
                    @* @Html.DisplayFor(modelItem => item.ImageLink) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a>
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a>
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    }
                    else
                    {
                        <p>Please <a asp-area="Identity" asp-page="/Account/Login">login</a> to edit products</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
